<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
<link rel="stylesheet" href="../../assets/css/apropos.css">
<title>A propos ECO-VELO</title>
</head>
<body>

    <!-------start navbar-->
    <div class="primg1">
     
      <nav class="navbar navbar-expand-lg navbar-dark">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="../../../backoffice/index.php">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="../frontofiice/views/page/apropos.html">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Event</a>
            </li> 
               <!-- Dropdown -->
               <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                   Service
                </a>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="#">Location vélo</a>
                  <a class="dropdown-item" href="#">velo en visite guidée</a>
                </div>
              </li>
    
            <li class="nav-item">
              <a class="nav-link" href="../../frontofiice/views/page/contact.html">Contact</a>
            </li> 
            <li class="nav-item">
              <a class="btn" href="page/s'inscrire.html">
                Signup</a>
            </li> 
          </ul>
        </div>
      </nav>
  
    
  
  </div>
  <!----end navbar--> 

  <!------start banner-->
  <section class="banner">
    <div class="container">
      <div class="row">
        
      </div>
    </div>
  </section>
  <!-------end banner-->
<!------a propos----------->
<section class="about">
<div class="container">
    <div class="row">
        <div class="col-md text-center pt-4">
            <div>
                <h2>Qu'est-ce que ECO-VELO?</h2>
                <p>Imaginez un monde où vous pouvez prendre et laisser un vélo à votre convenance. <br>
                    un service de partage de vélos pour effectuer de courts trajets urbains à tout moment,vers n'importe <br>
                     quelle destination de stationnement légale - en combinant l'innovation et la technologie IoT (Internet des objets) d'aujourd'hui.
                </p>

                <h2>Mission D'ECO-VELO?</h2>
                <p>Imaginez un monde où vous pouvez prendre et laisser un vélo à votre convenance. <br>
                    un service de partage de vélos pour effectuer de courts trajets urbains à tout moment,vers n'importe <br>
                     quelle destination de stationnement légale - en combinant l'innovation et la technologie IoT (Internet des objets) d'aujourd'hui.
                </p>
            </div>
        </div>
    </div>
</div>
</section>
<!------a propos----------->

 <!-------footer copyright------>
 <div class="footer-copy text-center">
  <div class="container">
    <span class="copyright">&copy;2020 copyright Eco-vélo</span>
  </div>
</div>
<!-------footer copyright------>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.min.js"></script>
</body>
</html>